body{
  margin: 0;
  padding: 0;
}

.navcontaints{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #5a5858;
  height: 60px;
  position: fixed;
  width: 100%;
 
}

.info a{
  text-decoration: none;
  color: white;
  font-size: 22px;
  margin: 12px;
}

.logo{
  color: #1100ff;
  font-size: 40px;
}


/* center */
.greetings img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.greetsent{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.greetsent h1{
  color: red;
  margin-top: 25px;
  font-size: 44px;
  font-weight: 1400;
}

.greetsent h2{
  margin-top: 10px;
}


/* center */
.center{
  border: 2px solid gradient(3px, green,blue);
  
}
.centerinfo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2px;
}
.centerimg{
  padding: 20px;
  display: grid;
  gap:3px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 300px);
  grid-template-areas: "a1 a2 a3"
                       "a4 a5 a5"
                       "a6 a7 a8";
}

.img1 { grid-area: a1; }
.img2 { grid-area: a2; }
.img3 { grid-area: a3; }
.img4 { grid-area: a4; }
.img5 { grid-area: a5; }
.img6 { grid-area: a6; }
.img7 { grid-area: a7; }
.img8 { grid-area: a8; }

.centerimg img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.centerimg iframe {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}


